.jump-to-box {
  --background: #fff;
  --box-shadow: 0 0 8px rgba(120, 120, 120, .3);
  --border-radius: 8px;

  .searchbar-input-container {
    border: 1px solid var(--ion-color-light-shade);
    border-radius: var(--border-radius);
  }
}

.has-fab {
  margin-bottom: 64px;
}

.avatar-custom {
  --border-radius: 6px;
  align-self: flex-start;
  margin-top: 10px;
}

.label-mention {
  background-color: #faf3dc;
}
