<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      You
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-top">
    <ion-item lines="none">
      <ion-avatar slot="start" class="my-avatar">
        <img src="assets/img/avatars/2.jpg" alt="">
      </ion-avatar>
      <ion-label>
        <h3><strong>hieu</strong></h3>
        <h4>Active</h4>
      </ion-label>
    </ion-item>

    <ion-button expand="block" fill="outline" color="medium" class="button-status">
      <ion-icon name="happy-outline" slot="start"></ion-icon>
    	What's your status
    </ion-button>
  </div>


  <ion-list class="has-fab">
    <ion-item lines="none">
      <ion-icon slot="start" name="notifications-off-outline" size="small"></ion-icon>
      <ion-label>Do not disturb</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="person-remove-outline" size="small"></ion-icon>
      <ion-label>Set yourself as <strong>away</strong></ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="bookmark-outline" size="small"></ion-icon>
      <ion-label>Saved items</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start" name="person-outline" size="small"></ion-icon>
      <ion-label>View profile</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start" name="megaphone-outline" size="small"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start" name="settings-outline" size="small"></ion-icon>
      <ion-label>Preferences</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
