<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>DMs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="at-outline"></ion-icon>
      <ion-label>Mentions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="person"></ion-icon>
      <ion-label>You</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
