<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Direct Messages
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="jump-to-box" placeholder="Jump to..."></ion-searchbar>

  <ion-list class="has-fab">
    <ion-item *ngFor="let i of [0,1,2,3,4,5,6]" routerLink="thread" detail="false">
      <ion-avatar slot="start" class="avatar-custom">
        <img src="{{'assets/img/avatars/' + (i%5 + 1) + '.jpg'}}" alt="">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h3>Team Member {{ i + 1 }}</h3>
        <div>The weekly meeting? Can we reschedule it to this Christmas?</div>
      </ion-label>
      <div class="timestamp">
        Sep 25th
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
