<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="logo-slack"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>
      @slack
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="jump-to-box" placeholder="Jump to..."></ion-searchbar>

  <ion-list class="has-fab">
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="chatbubbles-outline" size="small"></ion-icon>
      <ion-label>Threads</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="documents-outline" size="small"></ion-icon>
      <ion-label>Drafts</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Starred</ion-label>
    </ion-list-header>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="lock-closed" size="small"></ion-icon>
      <ion-label>Private Channel Tech</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="chatbubble-ellipses-outline" size="small"></ion-icon>
      <ion-label>Frontend</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="chatbubble-ellipses-outline" size="small"></ion-icon>
      <ion-label>Backend</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="heart" color="secondary" size="small"></ion-icon>
      <ion-label>Slackbot</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="ellipse" color="secondary" size="small"></ion-icon>
      <ion-label>Team member 1</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="ellipse" color="secondary" size="small"></ion-icon>
      <ion-label>Team member 2</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Channels</ion-label>
    </ion-list-header>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="chatbubble-ellipses-outline" size="small"></ion-icon>
      <ion-label>Frontend</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="chatbubble-ellipses-outline" size="small"></ion-icon>
      <ion-label>Backend</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="chatbubble-ellipses-outline" size="small"></ion-icon>
      <ion-label>DevOps</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="lock-closed" size="small"></ion-icon>
      <ion-label>Private Channel Marketing</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="thread" detail="false">
      <ion-icon slot="start" name="lock-closed" size="small"></ion-icon>
      <ion-label>Private Channel Sales</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
